<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ebay Test Automation Test Suite">

	<test name="Ebay Test Cases">
		<classes>
			<class name="com.flipkart.qa.testcases.LoginPageTest"></class>
			<class name="com.flipkart.qa.testcases.HomePageTest"></class>
		</classes>
	</test>
</suite>